<div class="ui container">
    <div class="ui list" *ngFor="let dado of dados; let i = index">
        <div class="item">{{ dado.nome}} {{dado.sobrenome}}</div>
        <button *ngIf="isOnline" class="ui button" (click)="onDelete(key[i])">apagar</button>
        <button *ngIf="isOnline" class="ui button" (click)="onEdit(key[i])">editar</button>
    </div>

    <div 
        *ngIf="isLoading"
        class="ui active centered inline loader"
        style="overflow: hidden;"
        >
    </div>

    <div *ngIf="isEmpty" class="display">
        <p>is empty</p>
    </div>
</div>