<div *ngIf="isOnline" class="mt-4 mt-md-0">
  <ng-container *ngIf="dados$ | async as dados; else isLoading">

    <ng-container *ngIf="dados.length > 0; else isEmpty">

        <table class="table">
          <thead>
            <tr>
              <th class="col px-0 pt-0">Data</th>
              <th class="col px-0 pt-0">Tarefa</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let dado of dados">
              <!-- <th scope="row">{{ dado.length }}</th> -->
              <td>{{ dado?.data | date: 'dd/MM/yy' }}</td>
              <td>{{ dado?.tarefa }}</td>
              <td>
                <div>
                  <button class="btn btn-danger" style="margin-right: 6px;" (click)="onDelete(dado.key)">apagar</button>
                  <button class="btn btn-primary" (click)="onEdit(dado.key)">editar</button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>

    </ng-container>

  </ng-container>

  <ng-template #isLoading>
    <div class="d-flex justify-content-center" style="overflow: hidden; margin-top: 18px;">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </ng-template>

  <ng-template #isEmpty>
    <div class="display">
        <p>is empty</p>
    </div>
  </ng-template>
</div>

<div *ngIf="!isOnline" class="isOffline">
  <img src="/assets/frog.svg" crossorigin="anonymous" alt="não foi possível mostrar a imagem">
  <p>você está offline</p>
</div>
