.grupo-de-btns {
  display: flex;
  justify-content: space-between;
}

.isOffline {
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    width: 200px;
    margin-bottom: 12px;
  }
}

@media screen and (max-width: 576px) {
  .grupo-de-btns {
    display: flex;
    flex-direction: column;

    button {
      margin-bottom: 4px;
    }
  }
}
