<div *ngIf="isOnline" class="">
  <ng-container *ngIf="dados$ | async as dados; else isLoading">

    <ng-container *ngIf="dados.length > 0; else isEmpty">

      <div class="card" style="width: 100%; margin-bottom: 6px;" *ngFor="let dado of dados">
        <div class="card-body">
          <h5 class="card-title" style="overflow: hidden;">{{ dado?.nome ? dado.nome : 'sem nome =/' }}</h5>
          <h6 class="card-subtitle mb-2 text-muted" style="overflow: hidden;">{{ dado?.data | date: 'dd/MM/yy'}}</h6>
          <p class="card-text">{{ dado?.tarefa }}</p>
          <div class="grupo-de-btns">
            <button class="btn btn-primary primeiro-btn" (click)="onEdit(dado.key)">editar</button>
            <button class="btn btn-danger" (click)="onDelete(dado.key)">apagar</button>
          </div>
        </div>
      </div>

    </ng-container>

  </ng-container>

  <ng-template #isLoading>
    <div class="d-flex justify-content-center" style="overflow: hidden; margin-top: 18px;">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </ng-template>

  <ng-template #isEmpty>
    <div class="display">
        <p>is empty</p>
    </div>
  </ng-template>
</div>

<div *ngIf="!isOnline" class="isOffline">
  <img src="/assets/frog.svg" crossorigin="anonymous" alt="não foi possível mostrar a imagem">
  <p>você está offline</p>
</div>
