
<div class="container">
  <div class="row">
    <h1 *ngIf="isEdit" class="mt-4 mb-4">Edição</h1>

    <div class="col-xs-12 col-sm-12 col-md-6">
      <form [formGroup]="formDados" (ngSubmit)="submitForm()">
        <div class="mb-3">
          <label class="form-label" for="nome">Data</label>
          <input class="form-control" type="date" formControlName="data">
        </div>
        <div class="mb-3">
          <label class="form-label" for="sobrenome">Tarefa</label>
          <input class="form-control" type="text" formControlName="tarefa">
        </div>

        <button class="btn btn-primary" style="margin-right: 6px;" type="submit">Salvar</button>
        <button *ngIf="isEdit" (click)="retornar()" class="btn btn-danger" style="margin-right: 6px;" type="button">Cancelar</button>
        <button *ngIf="!isEdit" class="btn btn-light" type="button">Enviar notificação</button>
      </form>
    </div>

    <div *ngIf="!isEdit" class="col-xs-12 col-sm-12 col-md-6">
      <app-listar></app-listar>
    </div>

  </div>
</div>

