* {
    margin: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}

h1, h2, p {
    margin: 0;
    overflow: hidden;
}

.main {
    height: 100%;
}

.display {
    display: flex;
    justify-content: center;
    align-items: center;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}
