.container {
    width: 90vw;
    padding: 0 32px;
    margin: 0 auto;
}

h1, h2 {
    margin: 0;
}

.display {
    display: flex;
    justify-content: center;
    align-items: center;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}